html {
  background-image: url(https://cdn.glitch.global/45d36f4f-a6aa-4004-93ae-f267ac11a128/atariPong.jpeg?v=1692764398307);
  background-position: center;
  background-size: 110%;
  background-position-y: top;

}
html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
    margin: auto;
  }
  p {
    display: inline;
    font-family: fantasy;
    font-size: 30px;
  }
  
  #pong {
    margin-bottom: 130px;
  }

  h2 {
    display: inline;
  }

  .space {
    width: 120px;
  }

#countdown {
  width: 50%;
  margin: 0 auto;
  height: 60vh;
    position: absolute;
  animation: none;
  display: none;
}

#countdown1, #countdown2, #countdown3 {
  margin: 0 auto;
  width: 100%;
}

#countdown2 {
  display: none;
}

#countdown1 {
  display: none;
}

.score {
  background-color: olive;
  border: solid gold 2px;
  border-radius: 22px;
  padding: 20px;
}

.player1 {
  position: absolute;
  top: 100px;
  left: 20px;
}

.player2 {
  position: absolute;
  top: 100px;
  right: 20px;
}

  .startButton {
    position: absolute;
    left: calc(50% - 70px);
    top: calc(50vh - 17px);
    width: 140px;
    height: 33px;
    border-radius: 6px;
    border: solid coral 2px;
    background-color: purple;
    color: white;
    margin-bottom: 25px;
  }

  .startButton:hover {
    cursor: pointer;
  }

  #waitingForOtherDiv {
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    width: 100%;
  }


@keyframes spin{
  from {
  transform: rotate(0deg);
  }
  to {
  transform: rotate(360deg); 
  }
}