html {
  background-image: url('./imgs/atariPong.jpeg');
  background-position: center;
  background-size: 110%;
  background-position-y: top;

}
html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
    margin: auto;
  }
  p {
    display: inline;
    font-family: fantasy;
    font-size: 30px;
  }
  

  h2 {
    display: inline;
  }

  .space {
    width: 120px;
  }

  #scores {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to right, purple 0%, red 75%, orange 100%);

  }